.App {
  align-items:left;
}
:root {
  --color-primary: #1b1b32;
  --color-secondary: #0a0a23;
}

.container
{
  background-color: var(--color-primary);
  width: 60%;
  max-width: 500px;
  min-width: 300px;
  margin: 10% auto;
  padding: 40px 30px;
  justify-content: center;
  color: white;
  border-radius: 10px;

}

button
{
  color: white;
  background-color: var(--color-secondary);
  padding: 5px 15px;
  margin-inline: 7px;
}
button:hover
{
  border: 0.5px solid burlywood;
}
ul
{
  list-style: none;
}
.my--music
{
  text-align: center;
}
.desc
{
  padding:10px;
  text-align: center;
  color: burlywood;
}
