.App {
  align-items:left;
}
:root {
  --color-primary:#0a0a23;
  --color-secondary:  #1b1b32;
  --color-btn: #3b3b4f;
}

.container
{
  
  max-height: 550px;
  width: 390px;
  margin:  auto;
  padding: 20px 25px;
  color: white;
  border-radius: 10px;

}

button
{
  color: white;
  border: 1px solid white;
  background-color:var(--color-btn);
  padding: 5px 15px;
  margin-inline: 7px;
}
ul
{
  list-style: none;
 border: 1px solid var(--color-btn);
 border-radius: 10px;
 padding: 10px;
}
.my--music
{
  text-align: center;
}
.desc
{
  padding:5px;
  text-align: left;
  color: burlywood;
}
